chr1.singletons
chr10.singletons
chr11.singletons
chr12.singletons
chr2.singletons
chr3.singletons
chr4.singletons
chr5.singletons
chr6.singletons
chr7.singletons
chr8.singletons
chr9.singletons
extraction_duplicated_genotypes
singletons.barthii.singletons
validating_singletons_nosequencingerrors.R
